<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">GestaoConcurso</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="cadastroConcurso">
                <span class="bi bi-file-earmark-plus fs-4" aria-hidden="true"></span> Cadastro Concurso
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="cadastroDisciplina" >
                <span class="bi bi-book-half fs-4" aria-hidden="true"></span> Cadastrar Disciplina
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="cadastro">
                <span class="bi bi-person-plus fs-4" aria-hidden="true"></span> Cadastrar Candidato
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="lancamentoNotas">
                <span class="bi bi-person-plus fs-4" aria-hidden="true"></span> Lançamento Notas
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="consultarConcursoCandidato">
                <span class="bi bi-search fs-4" aria-hidden="true"></span> Consultar Inscrições
            </NavLink>
        </div>


        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
            </NavLink>
        </div>
    </nav>
</div>

