@page "/cadastroConcurso"
@using GestaoConcurso.Models
@using GestaoConcurso.Controllers
@inject ConcursoController concursoControl
@inject NavigationManager NavigationManager

<h3>Cadastrar Concurso</h3>

@code {
   
}
