@page "/cadastroConcurso"
@using GestaoConcurso.Models
@using GestaoConcurso.Controllers
@inject ConcursoController concursoControl
@inject NavigationManager NavigationManager

<h3 class="text-center" style="color: black; font-weight: bold;">Cadastrar Concurso</h3>



@code {
   
}
