@page "/"

<PageTitle>Home</PageTitle>

<h1>Olá, Seja Bem-vindo</h1>

<h2>Lista de Alunos</h2>
<ul>
    <li>Nalanda Kippert Flegler - nalandakippert@gmail.com</li>
    <li>.............. - ........................</li>
    <li>..................... - .........................</li>
    <li>................... - .....................</li>
    
</ul>

<style>
    h2 {
        margin: 20px; 
        text-align: center; 
        color: black; 
    }

    ul {
        list-style-type: none;
        padding: 0;
        margin: 0 20px 20px 20px;
        background-image: linear-gradient(to right, #877671,#877671, #94665B, #513630,#601000,#6C1500);
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    }

    li {
        padding: 15px 20px;
        border-bottom: 1px solid #eee;
        transition: background-color 0.3s ease;
    }

        li:last-child {
            border-bottom: none;
        }

        li:hover {
            background-color: #f0f0f0;
        }
</style>